body {
    min-width: 1200px
}

.quest-navbar {
    border-radius: 0;
    border: 1px;
    background-color: #eee;
}

.quest-body {
    padding-top: 10px;
    background-color: #f0f0f0;
}

.quest-progress {
    //margin-top: 15px;
    width: auto;
    margin-right: auto;
    float: inside;
}

.quest-navbar-btn {
    margin: 10px 0 0 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#userName {
    color: #333;
    margin: 0px;
    padding: 15px 0 0 0;
}

.final {
    width: 36px;
    height: 36px;
    border-radius: 0px;
    border: 0px; 
    font-size: 16px;
}

.tooltip .tooltip-inner {background-color: #333;}
.tooltip.bottom .tooltip-arrow { border-bottom-color: #333;}

.final:active,
.final:focus {
    outline:none
}

table {
    margin: auto;
    border: 2px;
    border-collapse: collapse;                        
}

table thead img {
    margin-bottom: 5px;
}

table tfoot img {
    margin-top: 5px;
}

table tbody td:first-child img {
    margin-right: 5px;
}

table tbody td:last-child img {
    margin-left: 5px;
}

table tfoot img {
    margin-top: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}